# for git-changelog (https://github.com/dannyben/git-changelog)
export CHANGELOG_COMMIT_URL=https://github.com/dannyben/apicake/commit/%h
export CHANGELOG_COMPARE_URL=https://github.com/dannyben/apicake/compare/%s
